<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.pattern.signature" version="1.0.0">
    <name>Signature</name>
    <description>This plugin provides an implementation of the SHA-256 hashing.</description>
    <author>Jakob Henner</author>
    <license>Apache 2.0 License</license>
    <keywords>phonegap,cordova,api signature,SHA-256</keywords>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/api-signature.js" name="ApiSignature">
        <clobbers target="ApiSignature" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVApiSignature">
                <param name="ios-package" value="CDVApiSignature" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVApiSignature.h" />
        <source-file src="src/ios/CDVApiSignature.m" />
    </platform>
</plugin>